body {
    background-color: #111111;
    color: white;
}

.content {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 75%;
    margin: auto;
}

.avatar {
    border-radius: 50%;
    width: 250px;
    border: 3px solid #ab84ef;
    margin: 24px;
}

.skill {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 3px solid #ab84ef;
    border-radius: 8px;
}


/* Colors */
.violet {
    color: #ab84ef;
}